@{
    ViewData["Title"] = "文章";
    Layout = "_LayoutPage";
}
<div class="container-fluid relative animatedParent animateOnce my-3 paper-card ">
    <div class="row">
        <div class="col-12">
            <div class="box" id="toolbar">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="form-inline pull-right" id="toolbutton">
                            <div class="form-group">
                                <label>文章：</label>
                                <input placeholder="请输入标题" class="form-control r-0 light s-12 " type="text"
                                       name="Title">
                            </div>

                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    name="btn_select_box">
                                查询
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" id="ctrltable">

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

<script type="text/javascript">
    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/sysManage/article/GetPagingArticle",
        columns: [
            {field:"title",title:"标题",width:100,sort:false,align:"center"},
            { field:"articleTypeName",title:"文章类型",width:100,sort:false,align:"center"},
            {
                field: "isShow", title: "是否显示", width: 100, sort: false, align: "center", forrmatter(obj) {
                    if (!obj.isShow) {
                        return '<p>否</p>';
                    }
                    return '<p class="bg-primary">是</p>';
                }},
            {field:"orderNo",title:"排序码",width:100,sort:false,align:"center"},
            {field:"createTime",title:"创建时间",width:100,sort:false,align:"center"},
            {
                field: "pic", title: "图片", width: 100, sort: false, align: "center", forrmatter(obj) {
                    var url = obj.pic == null ? "/images/no.png" : obj.pic;
                    return "<img style='height: 30px;width: 30px;' src='" + url+"'>";
                }
            },
            {field:"summary",title:"简介",width:100,sort:false,align:"center"},
            {field:"counter",title:"阅读量",width:100,sort:false,align:"center"},
            {field:"seoTitle",title:"",width:100,sort:false,align:"center"},
            {field:"seoDes",title:"",width:100,sort:false,align:"center"},
            {field:"seoKey",title:"",width:100,sort:false,align:"center"}
        ],
        pagination: true,
        searchnation: true,
        pagerow: 15,
        //Sidx: "article.CreateTime",
        //Sord: "desc",
        Serial: true
    });
    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })
    function btn_add_box() {
        location.href='/sysManage/article/Edit';
    }
    function btn_edit_box() {
        var obj = $grid.gridRowValue();
            if (obj==null) {
                $.Alert({ resultSign: 1, message: "请选择一个文章！" });
                return false;
            }
            location.href="/sysManage/article/Edit?id=" + obj.articleId
    }
</script>