@{
    ViewData["Title"] = "字典";
    Layout = "_LayoutPage";
}

    <div class="container-fluid relative animatedParent animateOnce my-3 paper-card ">
        <div class="row">
            <div class="col-12">
                <div class="box" id="toolbar">
                    <div class="box-header">
                        <div class="box-tools">
                            <div class="form-inline pull-right" id="toolbutton">

                                <button type="button" class="btn btn-outline-primary btn-sm"
                                        name="btn_select_box">
                                    查询
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <div class="row">
                            <div class="col-md-2">
                                <div style="background-color:white;overflow:scroll;margin-top:25px;height:100vh">
                                    <ul id="treeMenu" class="ztree"></ul>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div id="ctrltable">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->

                    <!-- /.box-body -->
                </div>
                    <!-- /.box -->
                </div>
        </div>
    </div>


<script type="text/javascript">
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onClick
        }
    };
    //$post("/SysManage/Dictionary/GetDictionaryTree").then(function (data) {
    //    var ztree = $.fn.zTree.init($("#treeMenu"), setting, data);
    //    ztree.expandAll(true);
    //})
    function onClick(e, treeId, treeNode) {
        $("#pid").val(treeNode.id);
        $grid.registersearchClick();
    };

    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/sysManage/dictionary/GetPagingDictionary",
        columns: [
            { field: "parentName", title: "上级", width: 100, sort: false, align: "center" },
            { field: "name", title: "名称", sort: false, align: "center" },
            { field: "code", title: "编码", width: 100, sort: false, align: "center" },
            { field: "value", title: "值", width: 100, sort: false, align: "center" },
            {
                field: "isFreeze", title: "是否冻结", width: 100, sort: false, align: "center", forrmatter(obj) {
                    if (!obj.isFreeze) {
                        return '<p class="bg-primary">未冻结</p>';
                    }
                    return '<p>冻结</p>';
                }
            },
            { field: "orderNo", title: "排序码", width: 100, sort: false, align: "center" },
            { field: "remark", title: "备注", width: 100, sort: false, align: "center" }
        ],
        pagination: true,
        searchnation: true,
        pagerow: 15,
        //Sidx: "dic.CreateTime",
        Sord: "desc",
        Serial: true
    });
    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })
    function btn_add_box() {
        location.href='/sysManage/dictionary/Edit';
    }
    function btn_edit_box() {
        var obj = $grid.gridRowValue();
        if (obj == null) {
            $.Alert({ resultSign: 1, message: "请选择一条数据！" });
            return false;
        }
        location.href="/sysManage/dictionary/Edit?id=" + obj.dictionaryId;
    }
</script>