@{
    ViewData["Title"] = "错误日志";
    Layout = "~/Areas/sysManage/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid relative animatedParent animateOnce my-3 paper-card ">
    <div class="row">
        <div class="col-12">
            <div class="box" id="toolbar">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="form-inline pull-right" id="toolbutton">
                            <div class="form-group">
                                <label>用户名：</label>
                                <input placeholder="请输入用户名" class="form-control r-0 light s-12 " type="text"
                                       name="CreateUserName">
                            </div>
                            <div class="form-group">
                                <label>登录代码：</label>
                                <input placeholder="请输入登录代码" class="form-control r-0 light s-12 " type="text"
                                       name="CreateUserCode">
                            </div>
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    name="btn_select_box">
                                查询
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" id="ctrltable">

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

@section script{
    <script type="text/javascript">
       var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/SysManage/Log/GetPagingExceptionLog",
        columns: [
            { field: 'createTime', title: '错误时间', width: 200, align: 'left', sort: true },
            { field: 'message', title: '错误信息', width: 100, align: 'left'},
            { field: 'requestUrl', title: '请求Url', width: 100, align: 'left'},
            { field: 'stackTrace', title: '堆栈信息', width: 200, align: 'left' },
            { field: 'innerException', title: '内部信息', width: 150, align: 'left'},
            { field: 'createUserCode', title: '登录名', width: 150, align: 'left' },
            { field: 'createUserName', title: '名称', width: 100, align: 'left' },
            { field: 'httpMethod', title: '请求方式', width: 150, align: 'left' },
            { field: 'clientHost', title: '客户端Ip', width: 150, align: 'left' },
            { field: 'clientAddress', title: '客户端地址', width: 150, align: 'left' },
            { field: 'requestData', title: '请求数据', width: 150, align: 'left', sort: true },
            {
                title: '操作', align: 'center', forrmatter: function (data) {
                    return '<button type="button" class="btn btn-primary btn-xs" onclick="details(this)" data-id=' + data.exceptionLogId + '><i class="fas fa-search-plus"></i>查看详情</button>';
                }
            }
        ],
        pagination: true,
        pagerow: 15,
        Sidx: "createTime",
        Sord: "desc",
        Serial: true
    });
       $("[name='btn_select_box']").click(function () {
            $grid.registersearchClick();
        })
    </script>
}

