@{
    ViewData["Title"] = "登录日志";
    Layout = "_LayoutPage";
}  
<div class="container-fluid relative animatedParent animateOnce my-3 paper-card ">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body table-responsive no-padding" id="ctrltable">

                </div>
            </div>
        </div>
    </div>
</div>
@section script{
<script type="text/javascript">
    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/SysManage/Log/GetPagingLoginLog",
        columns: [
            { field: 'createUserName', title: '用户名', width: 100, align: 'left', sort: true },
            { field: 'createUserCode', title: '登录代码', width: 150, align: 'left', sort: true },
            { field: 'createTime', title: '时间', width: 180, align: 'left', sort: true },
            { field: 'ipAddressName', title: 'Ip对应地址', width: 250, align: 'left' },
            { field: 'osVersion', title: '操作系统', width: 100, align: 'left', sort: true },
            { field: 'serverHost', title: '服务器主机名', width: 100, align: 'left' },
            { field: 'clientHost', title: '客户端主机名', width: 100, align: 'left' },
            { field: 'userAgent', title: '浏览器信息', width: 150, align: 'left' },
            {
                title: '操作', align: 'center', forrmatter: function (data) {
                    return '<button type="button" class="btn btn-primary btn-xs" onclick="details(this)" data-id=' + data.loginLogId + '><i class="fas fa-search-plus"></i>查看详情</button>';
                }
            }],
        pagination: true,
        searchnation: true,
        pagerow: 15,
        Sidx: "createTime",
        Sord: "desc",
        Serial: true
    });
</script>
}