@{
    ViewData["Title"] = "操作日志";
    Layout = "~/Areas/sysManage/Views/Shared/_LayoutPage.cshtml";
}


<div class="container-fluid relative animatedParent animateOnce my-3 paper-card ">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" id="ctrltable">

                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
@section script{
<script type="text/javascript">
    console.dir($)
        var $grid = $("#ctrltable").ctrlGrid({
            id: "#ctrltable",
            url: "/SysManage/Log/GetPagingOperationLog",
            columns: [
                //{ field: 'ck', checkbox: true },
                { field: 'createTime', title: '操作时间', width: 200, align: 'left', sort: true },
                { field: 'describe', title: '描述', width: 100, align: 'left' },
                { field: 'createUserCode', title: '登录名', width: 100, align: 'left' },
                { field: 'createUserName', title: '真实姓名', width: 100, align: 'left' },
                { field: 'url', title: '当前请求Url信息', width: 150, align: 'left' },
                { field: 'urlReferrer', title: '上次请求Url信息', width: 150, align: 'left' },
                { field: 'controllerName', title: '控制器', width: 100, align: 'left' },
                { field: 'actionName', title: '方法名称', width: 150, align: 'left' },
                { field: 'requestData', title: '请求数据', width: 150, align: 'left' },
                { field: 'responseStatus', title: '响应状态', width: 150, align: 'left' },
                { field: 'resultExecutionTime', title: '页面展示(秒)', width: 150, align: 'left', sort: true },
                { field: 'actionExecutionTime', title: '方法执行(秒)', width: 150, align: 'left', sort: true },
                { field: 'userAgent', title: '浏览器', width: 100, align: 'left' },
                { field: 'clientHost', title: '客户端IP', width: 150, align: 'left' },
                { field: 'serverHost', title: '服务端IP', width: 150, align: 'left' },
                {
                    title: '操作', align: 'center', forrmatter: function (data) {
                        return '<button type="button" class="btn btn-primary btn-xs" onclick="details(this)" data-id=' + data.operateLogId + '><i class="fas fa-search-plus"></i>查看详情</button>';
                    }
                }
            ],
            pagination: true,
            searchnation: true,
            pagerow: 20,
            Sidx: "createTime",
            Sord: "desc",
            Serial: true
        });
</script>
}