@{
    Layout = "_LayoutPage";
}
    <div class="container-fluid relative animatedParent animateOnce my-3">
        <div class="card no-b my-3">
            <div class="card-body">
                <div class="my-2 height-300">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <canvas data-chart="bar" data-dataset="[                                        [21, 90, 55, 0, 59, 77, 12,21, 90, 55, 0, 59, 77, 12,21, 90, 55, 0, 59, 77, 12],                                        [12, 40, 16, 17, 89, 0, 12,12, 0, 55, 60, 79, 99, 12,12, 0, 55, 60, 79, 99, 12],                                        [12, 40, 16, 17, 89, 0,12, 40, 16, 17, 89, 0, 12,12, 40, 16, 17, 89, 0, 12],                                        ]" data-labels="['Blue','Yellow','Green','Purple','Orange','Red','Indigo','Blue','Yellow','Green','Purple','Orange','Red','Indigo','Blue','Yellow','Green','Purple','Orange','Red','Indigo']" data-dataset-options="[                                    {                                        label: 'HTML',                                        backgroundColor: '#7986cb',                                        borderWidth: 0,                                    },                                    {                                         label: 'Wordpress',                                         backgroundColor: '#88e2ff',                                         borderWidth: 0,                                     },                                    {                                          label: 'Laravel',                                          backgroundColor: '#e2e8f0',                                          borderWidth: 0,                                      }                                    ]" data-options="{                                      legend: { display: true,},                                      scales: {                                        xAxes: [{                                            stacked: true,                                             barThickness:5,                                             gridLines: {                                                zeroLineColor: 'rgba(255,255,255,0.1)',                                                 color: 'rgba(255,255,255,0.1)',                                                 display: false,},                                             }],                                        yAxes: [{                                                stacked: true,                                                     gridLines: {                                                        zeroLineColor: 'rgba(255,255,255,0.1)',                                                        color: 'rgba(255,255,255,0.1)',                                                    }                                       }]                                      }                                }" width="807" height="300" class="chartjs-render-monitor js-chart-drawn" style="display: block; width: 807px; height: 300px;"></canvas>
                </div>
            </div>
            <div class="card-body">
                <div class="row my-3 no-gutters">
                    <div class="col-md-3">
                        <h1>Tasks</h1>Currently assigned tasks to team.
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <figure class="avatar">
                                        <img src="paper/static/picture/u12.png" alt="">
                                    </figure>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <figure class="avatar">
                                        <img src="paper/static/picture/u2.png" alt="">
                                    </figure>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar bg-indigo" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <div class="avatar-group">
                                        <figure class="avatar">
                                            <img src="paper/static/picture/u4.png" alt="">
                                        </figure>
                                        <figure class="avatar">
                                            <img src="paper/static/picture/u7.png" alt="">
                                        </figure>
                                        <figure class="avatar">
                                            <img src="paper/static/picture/u1.png" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar yellow" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <figure class="avatar">
                                        <img src="paper/static/picture/u5.png" alt="">
                                    </figure>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" row my-3">
            <div class="col-md-6">
                <div class=" card b-0">
                    <div class="card-body p-5">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <canvas id="gradientChart" width="313" height="177" class="chartjs-render-monitor" style="display: block; width: 313px; height: 177px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" card no-b">
                    <div class="card-body">
                        <table class="table table-hover earning-box">
                            <tbody>
                                <tr class="no-b">
                                    <td class="w-10">
                                        <a href="panel-page-profile.html" class="avatar avatar-lg">
                                            <img src="paper/static/picture/u6.png" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <h6>Sara Kamzoon</h6>
                                        <small class="text-muted">Marketing Manager</small>
                                    </td>
                                    <td>25</td>
                                    <td>$250</td>
                                </tr>
                                <tr>
                                    <td class="w-10">
                                        <a href="panel-page-profile.html" class="avatar avatar-lg">
                                            <img src="paper/static/picture/u9.png" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <h6>Sara Kamzoon</h6>
                                        <small class="text-muted">Marketing Manager</small>
                                    </td>
                                    <td>25</td>
                                    <td>$250</td>
                                </tr>
                                <tr>
                                    <td class="w-10">
                                        <a href="panel-page-profile.html" class="avatar avatar-lg">
                                            <img src="paper/static/picture/u7.png" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <h6>Sara Kamzoon</h6>
                                        <small class="text-muted">Marketing Manager</small>
                                    </td>
                                    <td>25</td>
                                    <td>$250</td>
                                </tr>
                                <tr>
                                    <td class="w-10">
                                        <a href="panel-page-profile.html" class="avatar avatar-lg">
                                            <img src="paper/static/picture/u12.png" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <h6>Sara Kamzoon</h6>
                                        <small class="text-muted">Marketing Manager</small>
                                    </td>
                                    <td>25</td>
                                    <td>$250</td>
                                </tr>
                                <tr>
                                    <td class="w-10">
                                        <a href="panel-page-profile.html" class="avatar avatar-lg">
                                            <img src="paper/static/picture/u5.png" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <h6>Sara Kamzoon</h6>
                                        <small class="text-muted">Marketing Manager</small>
                                    </td>
                                    <td>25</td>
                                    <td>$250</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>