@{
    ViewData["Title"] = "菜单按钮";
    Layout = "_LayoutPage";
}

<div class="container-fluid relative animatedParent animateOnce my-3 paper-card ">
    <div class="row">
        <div class="col-12">
            <div class="box" id="toolbar">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="form-inline pull-right" id="toolbutton">
                            <input id="pid" name="id" hidden>
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    name="btn_select_box">
                                查询
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <div class="row">
                        <div class="col-md-2 d-none d-md-block">
                            <div style="background-color:white;overflow:scroll;margin-top:25px;height:100vh">
                                <ul id="treeMenu" class="ztree"></ul>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div id="ctrltable">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

<script type="text/javascript">
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onClick
        }
    };
    $post("/sysManage/Permission/GetPermissionByCheckedPrivilegeMasterValue").then(function (data) {
        var ztree = $.fn.zTree.init($("#treeMenu"), setting, data);
        ztree.expandAll(true);
    })
    function onClick(e, treeId, treeNode) {
        $("#pid").val(treeNode.id);
        $grid.registersearchClick();
    };

    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/sysManage/menubutton/GetMenuButtonByMenuId",
        columns: [
            { field: "menuName", title: "菜单名称", sort: false, align: "center" },
            { field: "name", title: "按钮名称", sort: false, align: "center" },
            {
                field: "icon", title: "图标", sort: false, align: "center", forrmatter(obj) {
                    return "<i class='" + obj.icon + "'></i>";
                }
            },
            { field: "script", title: "脚本", sort: false, align: "center" },
            { field: "orderNo", title: "排序码", sort: false, align: "center" },
            { field: "remark", title: "备注", sort: false, align: "center" }
        ],
        pagination: false,
        searchnation: true,
        Sidx: "CreateTime",
        Sord: "desc",
        Serial: true
    });
    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })
    function btn_add_box() {
        $.windowsOpen("/sysManage/MenuButton/Edit", "新增菜单按钮", '55%', '65%');
    }
    function btn_edit_box() {
        var obj = $grid.gridRowValue();
        if (obj==null) {
            $.Alert({ resultSign: 1, message: "请选择一条数据！" });
            return false;
        }
        $.windowsOpen("/sysManage/MenuButton/Edit?id=" + obj.menuButtonId, "编辑按钮", '55%', '65%');
    }
</script>