.page-table-cell {
    /*line-height: 28px;
    padding: 0 15px;*/
    position: relative;
    box-sizing: border-box;
}
.pagetable-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
